.container {
  display: flex;
  flex-direction: column;
  gap:5px;
  width: 410px;
  background-color: aquamarine;
  border-radius: 5px;
  padding: 10px;
}
.btnOpenModal {
  cursor: pointer;
  border-radius: 50%;
  background-color: rgb(23, 113, 57);
  padding: auto;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
}
