.containerPlayer {
  background-color: aquamarine;
  border-radius: 5px;
  width: 400px;
  height: 530px;
}

.titlePlayer {
  font-size: 18px;
}
.containerReader {
  padding: 10px;
  background-color: rgb(168, 127, 255);
  border-radius: 5px;
  width: 410px;
  height: 560px;
}
