.container {
  width: 420px;
  height: 180px;
  border-radius: 5px;
  background-color: rgb(190, 238, 142);
  padding: 5px;
}

.items {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.content {
  background-color: beige;
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
}
