.dropdown {
  width: 170px;
  height: 115px;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  border-radius: 5px;
}
.dropdown__toggle {
  width: 150px;
}
.dropdown__menu {
  background-color: aqua;
  border-radius: 15px;
  height: 30px;
  width: 150px;
  text-align: center;
}
