.nav {
  background-color: black;
  padding: 10px;
  display: flex;
  gap: 10px;
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: rgb(231, 83, 187) 0px 0px 10px;
}
.loading {
  font-size: 26px;
  color: rgb(231, 83, 187);
}

.footer {
  background-color: black;
  padding: 10px;
  display: flex;
align-items: right;
  font-size: 26px;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: rgb(231, 83, 187) 0px 0px 10px;
}
.footerText {
  color: rgb(231, 83, 187);
}
