.nav {
    background-color: black;
    padding: 10px;
    display: flex;
    gap: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: rgb(231, 83, 187) 0px 0px 10px;
  }
  

  .footer{
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 26px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: rgb(231, 83, 187) 0px 0px 10px;
    color: azure;
  }