.container {
  width: 430px;
  background-color: rgb(228, 166, 222);
  border-radius: 5px;
  padding: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.textInput {
  display: flex;
  gap: 10px;
}
.radioBtn {
  display: flex;
  gap: 20px;
}
.submitBtn {
  width: 100px;
  background-color: rgb(229, 111, 192);
  border-radius: 5px;
  cursor: pointer;
}
