.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgb(223, 182, 128);
  margin-top: 5px;
  padding: 20px;
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
.btn {
  padding: 5px;
}
.count {
  font-size: 30px;
  text-align: center;
  font-weight: 900;
  color: rgb(76, 13, 149);
}
